@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #091057;
  --foreground: #ededed;
  --secondary-color: #024CAA;
  --tertiary-color: #EC8305;
  --tertiary-color-10: rgba(250,176,5,.1);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
